/*
    Created on : 22-May-2015, 16:59:39
    Author     : Aidan
*/
/*
@media (max-width: 999px;){
  *{
      padding: 0px;
      margin: 0px;
  }

  .carousel-box{
      height: 100px;
      width: 100%;
      margin: 20px;
      float: left;
      position: relative;
      z-index: 4;
  }
}
*/
